
.div1{
  width: 100%;
  height: 950px;  
  padding: 50px;
  background-color: rgb(43,43,43); 
  }
  #top-margin{
    margin-top: 150px;
  }
  .title-heading{
    color: white;
    font-size: 80px;

  }
  .title-heading2{
    color: black;
    font-size: 50px;
  }
  .title-heading2 span{
    color: blueviolet;

  }
  
  .title-heading span{
    color: blueviolet;
    display: block;
  }
.desc{
  margin-top: 100px;
  font-size: 30px;
  color: white;
}
.disc{
  margin-top: 50px;
  color: white;
}
#about{
  margin-top: 200px;
}
#abt{
  color:  rgb(172,163,186);
  font-weight: 1000;

}
.container-about{
  text-align: center;
}
.col-perform{
  font-size: 60px;
}
.row-abt{
  margin-top: 50px;
  text-align: center;
}
#features{
  font-weight: 700;
  font-size: 60px;
}
#sub-h{
  font-weight: 700;
}
.wrist-band{
  text-align: center;
  margin-top: 100px;
  
}
#wristf{
  font-weight: 700;
}
#wcolor{
  color: white;
  margin-top: 100px;
}
#wristbcolor{
  background-color:rgb(43,43,43);
}
#bggcolor{
  background-color: rgb(54,54,54);
}
#fcolor{
  color: rgb(161,161,151);
}
#footer{
  margin-top: 10px;
}
  .collapse{
    justify-content: center;
  }

  .navbar {
    background-color: rgb(0, 0, 0);
  }
  .navbar-brand {
    font-weight: bold;
    font-size: 24px;
    color: white !important;
  }
  .nav-link {
    color: white !important;
  }
  .heading{
    font-weight: 500;
    font-size: 100px;
  }
  .button4 {border-radius: 50px;}
  button{
  background-color: rgb(54,54,54);
  color: white;
  font-size: 25px;
  padding: 10px;
    text-align: center;
    margin: 50px 2px;
  }
  .buy_button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rotating_image{
    height: 100px;
    
  }

  /* Harsh Custom Class */
.heading1{
  font-size: 50px;
  margin-bottom: 50px;
}
  .align-center{
    text-align: center;
  }
  .heading1 span{
    color: blueviolet;

  }
  .about-section{
    padding-top: 100px;
    padding-bottom: 100px;
  }
